<footer class="page-footer font-small unique-color-dark pt-4">
  <div class="container">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-4 mt-md-0 mt-3 mb-3 text-center">
          <a href="https://jam-stack-site.netlify.com"
            ><span
              class="text-uppercase font-weight-bold footer-title myBlue mb-2"
              >JAM</span
            ><span class="footer-title"> Stack</span></a
          >
          <p class="text-center">
            Praktická část bakalářské práce na téma JAM Stack studenta oboru ITE
            na katedře informatiky pedagogické fakulty Jihočeské univerzity v
            Českých Budějovicích Jakuba Minky.
          </p>
        </div>
        <div class="col-md-4 mt-md-0 mt-3 mb-3 text-center">
          <span class="font-weight-bold footer-title mb-2">
            Odkazy a zdroje
          </span>
          <ul class="links">
            <li>
              <a
                target="_blank"
                href="https://jam-stack-site.netlify.com/admin"
                rel="noreferrer"
                >Přihlášení administrátora</a
              >
            </li>
            <li>
              <a
                target="_blank"
                href="https://github.com/jakubminka/JAM_Stack"
                rel="noreferrer"
                >Repozitář webu na GitHub.com</a
              >
            </li>
            <li>
              <a target="_blank" href="https://jamstack.org" rel="noreferrer"
                >JAM Stack</a
              >
            </li>
            <li>
              <a
                target="_blank"
                href="https://testmysite.io/5c86fdf43877680171f13b90/zen-torvalds-384b19.netlify.com"
                rel="noreferrer"
                >TTFB skóre stránky</a
              >
            </li>
          </ul>
        </div>
        <div class="col-md-4 mt-md-0 mt-3 mb-3 text-center">
          <span class="font-weight-bold footer-title"> Odběr newsletteru </span>
          <form
            name="subscribe"
            method="POST"
            class="input-group mt-4"
            netlify="true"
          >
            <input
              type="email"
              name="email"
              class="form-control form-control-sm mt-1"
              placeholder="Email"
              aria-label="Váš email"
            />
            <button class="btn btn-sm wht-link my-0" type="submit">
              Odebírat
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center text-white py-3">
    © 2019 Copyright: <a href="mailto:jakubminka@gmail.com">Jakub Minka</a>
  </div>
</footer>
