<header>
  <div id="particles-js"></div>
  <div
    class="view jarallax"
    data-jarallax="{&quot;speed&quot;: 0.2}"
    style="background-image: url('assets/images/background.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center bottom;"
  >
    <div
      class="mask rgba-black-light d-flex justify-content-center align-items-center"
    >
      <div class="container higherPos">
        <div class="row">
          <div class="col-md-12 mb-4 white-text text-center">
            <h1
              class="h1-reponsive white-text text-uppercase mb-0 pt-md-5 animated fadeInDown"
            >
              <strong class="myBlue">JAM</strong> Stack
            </h1>
            <hr class="hr-light mt-2 animated fadeInUp" />
            <h2 class="subTitle mb-2 white-text animated fadeIn">
              <strong>Moderní technologie pro vývoj webu</strong>
            </h2>
            <a href="https://zen-torvalds-384b19.netlify.com/about/"
              ><button
                class="text-center btn btn-change mb-2 animated bounceIn"
                data-wow-delay="0.4s"
              >
                Více
              </button></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
