<!-- HLAVNÍ NAVIGACE -->
<nav class="navbar navbar-expand-lg navbar-dark unique-color-dark">
  <div class="container">
  <a class="navbar-brand"
    href="https://jam-stack-site.netlify.com"
    onmouseover="zvetsiText()"
    onmouseout="zmensiText()"
    id="brandChange">
      <span class="font-weight-bold myBlue">JAM</span> Stack</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#collapseNow"
    aria-controls="collapseNow"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapseNow">
    <ul class="navbar-nav mr-auto">
    {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
    {% for p in navigation_pages %}
      {% if p.navigation_weight %}
      <li {% if p.url == page.url %}
            class="nav-item active"
          {% else %}
            class="nav-item"
          {% endif %}>
            <a href="{{ p.url }}" class="nav-link text-nowrap">
        <span data-hover="{{p.title}}">{{ p.title }}</span>
      </a></li>
      <li class="hidden"><a href="#page-top"></a></li>
      {% endif %}
    {% endfor %}
    </ul>
    <a href="https://www.overleaf.com/read/rgqpwtzbynmg"><button
      class="text-center btn btn-change mb-2 wht-link"
    >
      ZOBRAZENÍ BP
    </button></a>
    {% if page.title == "E-shop" or page.layout == "detailProduktu" %}
    <a href="#" class="snipcart-checkout myBlue">
      <button class="text-center btn btn-change mb-2 snipcart-summary wht-link">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        Zobrazit košík (<span class="snipcart-total-items">0</span>)
      </button>
    </a>
    {% endif %}
    <!--{% include download-btn.html %}-->
  </div>
  </div>
</nav>
