html {
  font-family: 'Roboto', sans-serif !important;
}
body {
  font: normal 'Roboto', sans-serif;
}
a {
  color: {{ site.color.myBlue }};
}

pre {
  background-color: #212121;
}
code {
  color: #e0e0e0 !important;
  margin-top: 0 !important;
  margin-bottom: 20px !important;
}

a:hover {
  color: #1C2331 !important;
}
.card-body a:hover {
  color: #1C2331 !important;
}
.higherPos {
  z-index: 2 !important;
}
.clickable{
    cursor: pointer;
}
.navbar-brand:hover{
  color: white !important;
}
.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}
.snipcart-summary:hover {
  color: white !important;
}
.subTitle {
  text-transform: uppercase;
  font-size: 1.45rem;
  margin-top: 0 !important;
}
#particles-js {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 1;
}

button,
button::after {
  -webkit-transition: all 0.3s !important;
	-moz-transition: all 0.3s !important;
  -o-transition: all 0.3s !important;
	transition: all 0.3s !important;
}
button {
  background-color: none !important;
  border: 3px solid #42bcf4 !important;
  border-radius: 5px !important;
  color: #42bcf4 !important;
  font-weight: bold !important;
  display: block;
  text-transform: uppercase !important;
}
button::before,
button::after {
  background-color: #42bcf4 !important;
  content: '' !important;
  position: absolute !important;
  z-index: -1 !important;
}
button:hover {
  font-weight: bold !important;
  color: #1c2a48 !important;
}
.btn-change::after {
  height: 0 !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
}
.btn-change:hover:after {
height: 100% !important;
}
.wht-link:hover {
  font-weight: bold !important;
  color: white !important;
}

.links {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.links li a:hover {
  color: #42bcf4 !important;
  transition: all font-weight bold 0.3s;
}

.footer-title {
  font-size: 1.25rem;
  margin-top: 0 !important;
  margin-bottom: 20px !important;
}
.footer-title:hover{
  color: white !important;
}

.post-list a {
  color: {{ site.color.myBlue }} !important;
}

.post-list a:hover {
  color: #1C2331 !important;
}

.navbar .navbar-collapse {
  text-align: center !important;
}
.navbar .navbar-collapse .active a,
.navbar .navbar-collapse .active {
  font-weight: 800;
  color: {{ site.color.myBlue }} !important;
}
.active,
.active a {
  background-color: transparent !important;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
.text-nowrap {
    white-space: nowrap !important;
}
.nav-item {
  width: auto;
}
.nav-item a {
	overflow: hidden;
	padding: 0 12px;
	height: 1.6em;
}

.nav-item a span {
	position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.nav-item a span::before {
	position: absolute;
	top: 100%;
	content: attr(data-hover);
	font-weight: 700;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
  color: {{ site.color.myBlue }};
}

.nav-item a:hover span,
.nav-item a:focus span {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}

.card-img-top img {
  max-width: 230px;
  max-height: 95px;
  width: auto;
  height: auto;
}

.bg-apend {
  background-size: cover;
  background-position: center center;
  background-image: url("{{ page.thumbnail }}");
}

#colorBrand {
  color: white;
}

.formBox {
  margin-top: 10px;
  padding: 50px;
}
.formBox h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 48px;
}
.inputBox {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 50px;
}
.inputBox .inputText {
  position: absolute;
  font-size: 24px;
  line-height: 50px;
  transition: 0.5s;
  opacity: 0.5;
}
.inputBox .input {
  position: relative;
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.focus .inputText {
  transform: translateY(-30px);
  font-size: 18px;
  opacity: 1;
  color: #00bcd4;
}
textarea {
  height: 100px !important;
}
.button {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  background: #03a9f4;
  color: #fff;
}

main {
  display: flex;
  margin: 0 auto 75px auto;
  width: 200vw;
}

#todoapp {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  margin: 40px 0 40px 0;
  border: 1px solid #ccc;
  position: relative;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}
#todoapp:before {
  content: "";
  border-left: 1px solid #f5d6d6;
  border-right: 1px solid #f5d6d6;
  width: 2px;
  position: absolute;
  top: 0;
  left: 40px;
  height: 100%;
}
#todoapp input::-webkit-input-placeholder {
  font-style: italic;
}
#todoapp input:-moz-placeholder {
  font-style: italic;
  color: #a9a9a9;
}
#headerToDo {
  padding-top: 15px;
  border-radius: inherit;
}
#headerToDo:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 15px;
  z-index: 2;
  border-bottom: 1px solid #6c615c;
  background: {{ site.color.myBlue }};
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}
#new-todo,
.edit {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  color: inherit;
  padding: 6px;
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
#new-todo {
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.02);
  z-index: 2;
  box-shadow: none;
}
#main {
  position: relative;
  z-index: 2;
  border-top: 1px dotted #adadad;
}
label[for="toggle-all"] {
  display: none;
}
#toggle-all {
  position: absolute;
  top: -42px;
  left: -4px;
  width: 40px;
  text-align: center;
  border: none; /* Mobile Safari */
}
#toggle-all:before {
  content: "»";
  font-size: 28px;
  color: #d9d9d9;
  padding: 0 25px 7px;
}
#toggle-all:checked:before {
  color: #737373;
}
#todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
#todo-list li {
  position: relative;
  font-size: 24px;
  border-bottom: 1px dotted #ccc;
}
#todo-list li:last-child {
  border-bottom: none;
}
#todo-list li.editing {
  border-bottom: none;
  padding: 0;
}
#todo-list li.editing .edit {
  display: block;
  width: 506px;
  padding: 13px 17px 12px 17px;
  margin: 0 0 0 43px;
}
#todo-list li.editing .view {
  display: none;
}
#todo-list li .toggle {
  text-align: center;
  width: 40px;
  /* auto, since non-WebKit browsers doesn't support input styling */
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none; /* Mobile Safari */
  -webkit-appearance: none;
  /*-moz-appearance: none;*/
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
#todo-list li .toggle:after {
  content: "✔";
  line-height: 43px; /* 40 + a couple of pixels visual adjustment */
  font-size: 20px;
  color: #d9d9d9 !important;
  text-shadow: 0 -1px 0 #bfbfbf !important;
}
#todo-list li .toggle:checked:after {
  color: #85ada7 !important;
  text-shadow: 0 1px 0 #669991 !important;
  bottom: 1px;
  position: relative;
}
#todo-list li label {
  word-break: break-word;
  padding: 15px;
  margin-left: 45px;
  display: block;
  line-height: 1.2;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -ms-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
#todo-list li.completed label {
  color: #a9a9a9;
  text-decoration: line-through;
}
#todo-list li .destroy {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 22px;
  color: #a88a8a !important;
  background-color: transparent !important;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
#todo-list li .destroy:hover {
  text-shadow: 0 0 1px #000, 0 0 10px rgba(199, 107, 107, 0.8);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}
#todo-list li .destroy:after {
  content: "✖"
  color: red !important;
}
#todo-list li:hover .destroy {
  display: block;
}
#todo-list li .edit {
  display: none;
}
#todo-list li.editing:last-child {
  margin-bottom: -1px;
}
#filters {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  left: 0;
}
#filters li {
  display: inline;
}
#filters li a {
  color: #83756f;
  margin: 2px;
  text-decoration: none;
}
#filters li a.selected {
  font-weight: bold;
}
#clear-completed {
  float: right;
  position: relative;
  line-height: 20px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);
  font-size: 11px;
  padding: 0 10px;
  border-radius: 3px;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}
#clear-completed:hover {
  background: rgba(0, 0, 0, 0.15);
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}
#info {
  margin: 65px auto 0;
  color: #a6a6a6;
  font-size: 12px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  text-align: center;
}
#info a {
  color: inherit;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #toggle-all,
  #todo-list li .toggle {
    background: none;
  }
  #todo-list li .toggle {
    height: 40px;
  }
  #toggle-all {
    top: -56px;
    left: -15px;
    width: 65px;
    height: 41px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-appearance: none;
    appearance: none;
  }
}
.hidden {
  display: none;
}
#sync-error,
#sync-success {
  display: none;
}
[data-sync-state="syncing"] #sync-success {
  display: block;
}
[data-sync-state="error"] #sync-error {
  display: block;
}

/* Google Map API stylování */
#map {
  height: 400px;
}

/* Nastavení modálního vyskakovacího okna */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.masthead {
  display: block;
}

html,
body,
header,
.view {
  height: 100%;
}

.showIt{
  height: auto;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #78909c !important;
}

h1 {
  letter-spacing: 8px;
}
h5 {
  letter-spacing: 3px;
}

.hr-light {
  height: 3px solid !important;
  width: 20%;
  color: #fff;
  margin: 0 40% 0 40%;
  margin-bottom: 20px !important;
}

.myBlue {
  color: {{ site.color.myBlue }} !important;
}

.myBlueBg {
  background-color: {{ site.color.myBlue }} !important;
}
