<!-- Šablona příspěvku v blogu -->
<!DOCTYPE html>
<html lang="cs-CZ">
  {% include head.html %}
  <body>
    {% include nav.html %} {% if page.background %}
    <header
      class="masthead"
      style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}'); background-size: cover; height: 400px"
    ></header>
    {% else %}
    <header>{% include banner.html %}</header>
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto">
          <div class="post-heading">
            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}
            <h3 class="subheading">{{ page.subtitle }}</h3>
            {% endif %}
            <span class="meta"
              >Publikováno uživatelem
              <a href="#" class="myBlue"
                >{% if page.author %}{{ page.author }}{% else %}{{ site.author
                }}{% endif %}</a
              >
              on {{ page.date | date: '%B %d, %Y' }}</span
            >
            <hr />
          </div>
        </div>
      </div>
    </div>

    <div class="container text-justify">
      <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto">
          {{ content }}
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto">
          <div class="clearfix">
            {% if page.previous.url %}
            <a
              class="text-center float-right"
              href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}"
              data-toggle="tooltip"
              data-placement="top"
              title="{{ page.previous.title }}"
              ><button class="btn">
                Předchozí<span class="d-none d-md-inline"> Příspěvek</span>
                &rarr;
              </button></a
            >
            {% endif %} {% if page.next.url %}
            <a
              class="text-center float-left"
              href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}"
              data-toggle="tooltip"
              data-placement="top"
              title="{{ page.next.title }}"
              ><button class="btn">
                &larr; Další<span class="d-none d-md-inline"> příspěvek</span>
              </button></a
            >
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="container">
      {% if page.comments %}
      <div id="disqus_thread"></div>
      <script>
        (function() {
          var d = document,
            s = d.createElement("script");
          s.src = "https://jam-stack.disqus.com/embed.js";
          s.setAttribute("data-timestamp", +new Date());
          (d.head || d.body).appendChild(s);
        });
      </script>
      <noscript
        >Please enable JavaScript to view the
        <a href="https://disqus.com/?ref_noscript"
          >comments powered by Disqus.</a
        ></noscript
      >
      {% endif %}
    </div>
    {% include footer.html %}
  </body>
</html>
